  <body>
  <div class="container">

    <div (click)="Juego('Agilidad')"  class="menu" id="menu">

      <img class="img-thumbnail imagenDeMenu"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">


       <div class="media-body">
        <h4 class="media-heading">Velocidad y agilidad aritmética </h4>
        <p>Juego de agilidad mental.<p>
      </div>

    </div>

    <div (click)="Juego('PPT')" class="menu" id="menu">

        <img src="./assets/imagenes/ppt.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar" style="width:100%" >


      <div class="media-body">
        <h4 class="media-heading">Piedra, papel o tijera</h4>
        <p>Juega contra la máquina.</p>
      </div>
    </div>
    <div (click)="Juego('AdivinaElNumero')" class="menu" id="menu">

      <img src="./assets/imagenes/adivina.png" class="img-thumbnail imagenDeMenu" alt="Avatar" style="width:100%;" >

      <div class="media-body">
        <h4 class="media-heading">Adivina el Número</h4>
        <p>Juego de estrategia.</p>
  </div>

    </div>
    <div (click)="Juego('Anagrama')"  class="menu" id="menu">
            <img src="./assets/imagenes/anagrama.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar" style="width:100%;" >

          <div class="media-body">
            <h4 class="media-heading">Anagrama</h4>
            <p>Juego de transposición de letras para formar otras palabras.</p>
          </div>
    </div>
    <div (click)="Juego('Tateti')"  class="menu" id="menu">
      <img src="./assets/imagenes/tateti.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar" style="width:100%;" >

    <div class="media-body">
      <h4 class="media-heading">Tateti</h4>
      <p>Juego de formar ceros o cruces de a tres en raya.</p>
    </div>
   </div>

   <div (click)="Juego('MemoTest')"  class="menu" id="menu">
    <img src="./assets/imagenes/Memotest.png" class="img-thumbnail imagenDeMenu" alt="Avatar" style="width:100%;" >

      <div class="media-body">
        <h4 class="media-heading">Memo-Test</h4>
        <p>Juego de memoria.</p>
      </div>
 </div>


</div>
<footer>

<section class="redes_sociales">
 <div class="contenedor">
     
 </div>
</section>
</footer>
</body>